@page "/course_categories/create"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using DataAccess
@inject IDbContextFactory<DanceAcademy.Data.DanceAcademyContext> DbFactory
@inject NavigationManager NavigationManager


<PageTitle>Create Course Category</PageTitle>

<h1>Create</h1>

<h2>Course Category</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="COURSE_CATEGORY" OnValidSubmit="AddCOURSE_CATEGORY">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="course_category_name" class="form-label">Category Name:</label> 
                <InputText id="course_category_name" @bind-Value="COURSE_CATEGORY.course_category_name" class="form-control" /> 
                <ValidationMessage For="() => COURSE_CATEGORY.course_category_name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputTextArea id="description" @bind-Value="COURSE_CATEGORY.description" class="form-control" rows="4" /> 
                <ValidationMessage For="() => COURSE_CATEGORY.description" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/course_categories">Back to List</a>
</div>

@code {
    private COURSE_CATEGORY COURSE_CATEGORY { get; set; } = new();

    private async Task AddCOURSE_CATEGORY()
    {
        Console.WriteLine("********************************************************************************");
        Console.WriteLine("Course Category Name: " + COURSE_CATEGORY.course_category_name);
        Console.WriteLine("Description: " + COURSE_CATEGORY.description);
        Console.WriteLine("********************************************************************************");
       
        using var context = DbFactory.CreateDbContext();
        context.COURSE_CATEGORY.Add(COURSE_CATEGORY);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/course_categories");
    }
}