@page "/course_categories"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DataAccess
@using DanceAcademy.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DanceAcademy.Data.DanceAcademyContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="course_categories/create">Create New</a>
</p>

<QuickGrid Class="table" Items="Categories">
    <PropertyColumn Property="course_category => course_category.course_category_name" />
    <PropertyColumn Property="course_category => course_category.description" />

    <TemplateColumn Context="course_category">
        <a href="@($"course_categories/edit?id={course_category.ID}")">Edit</a> |
        <a href="@($"course_categories/details?id={course_category.ID}")">Details</a> |
        <a href="@($"course_categories/delete?id={course_category.ID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private DanceAcademyContext context = default!;
    private IQueryable<COURSE_CATEGORY> Categories => 
        context.COURSE_CATEGORY.Select(c => new COURSE_CATEGORY 
        { 
            ID = c.ID, 
            course_category_name = c.course_category_name, 
            description = c.description 
            
        });

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
