@page "/course_enrollments/create"
@using Microsoft.EntityFrameworkCore
@using DataAccess
@inject IDbContextFactory<DanceAcademy.Data.DanceAcademyContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>COURSE_ENROLLMENT</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="COURSE_ENROLLMENT" OnValidSubmit="AddCOURSE_ENROLLMENT" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="memberid" class="form-label">MEMBERID:</label> 
                <InputNumber id="memberid" @bind-Value="COURSE_ENROLLMENT.MEMBERID" class="form-control" /> 
                <ValidationMessage For="() => COURSE_ENROLLMENT.MEMBERID" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="course_categoryid" class="form-label">COURSE_CATEGORYID:</label> 
                <InputNumber id="course_categoryid" @bind-Value="COURSE_ENROLLMENT.COURSE_CATEGORYID" class="form-control" /> 
                <ValidationMessage For="() => COURSE_ENROLLMENT.COURSE_CATEGORYID" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="enrollment_date" class="form-label">enrollment_date:</label> 
                <InputDate id="enrollment_date" @bind-Value="COURSE_ENROLLMENT.enrollment_date" class="form-control" /> 
                <ValidationMessage For="() => COURSE_ENROLLMENT.enrollment_date" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/course_enrollments">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private COURSE_ENROLLMENT COURSE_ENROLLMENT { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddCOURSE_ENROLLMENT()
    {
        using var context = DbFactory.CreateDbContext();
        context.COURSE_ENROLLMENT.Add(COURSE_ENROLLMENT);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/course_enrollments");
    }
}
