@page "/course_enrollments"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DataAccess
@using DanceAcademy.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DanceAcademy.Data.DanceAcademyContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="course_enrollments/create">Create New</a>
</p>

<QuickGrid Class="table" Items="CourseEnrollments">
    <PropertyColumn Property="course_enrollment => course_enrollment.MEMBERID" />
    <PropertyColumn Property="course_enrollment => course_enrollment.COURSE_CATEGORYID" />
    <PropertyColumn Property="course_enrollment => course_enrollment.enrollment_date" />

    <TemplateColumn Context="course_enrollment">
        <a href="@($"course_enrollments/edit?id={course_enrollment.ID}")">Edit</a> |
        <a href="@($"course_enrollments/details?id={course_enrollment.ID}")">Details</a> |
        <a href="@($"course_enrollments/delete?id={course_enrollment.ID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private DanceAcademyContext context = default!;

    private IQueryable<COURSE_ENROLLMENT> CourseEnrollments => 
        context.COURSE_ENROLLMENT.Select(ce => new COURSE_ENROLLMENT 
        { 
            ID = ce.ID, 
            MEMBERID = ce.MEMBERID, 
            COURSE_CATEGORYID = ce.COURSE_CATEGORYID,
            enrollment_date = ce.enrollment_date
        });

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
