@page "/branches"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DataAccess
@using DanceAcademy.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DanceAcademy.Data.DanceAcademyContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="branches/create">Create New</a>
</p>

<QuickGrid Class="table" Items="Branches">
    <PropertyColumn Property="branch => branch.branch_name" />
    <PropertyColumn Property="branch => branch.branch_city" />
    <PropertyColumn Property="branch => branch.branch_address" />
    <PropertyColumn Property="branch => branch.branch_district" />
    <PropertyColumn Property="branch => branch.branch_contact_number" />
    <PropertyColumn Property="branch => branch.branch_capacity" />

    <TemplateColumn Context="branch">
        <a href="@($"branches/edit?id={branch.ID}")">Edit</a> |
        <a href="@($"branches/details?id={branch.ID}")">Details</a> |
        <a href="@($"branches/delete?id={branch.ID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private DanceAcademyContext context = default!;

    private IQueryable<BRANCH> Branches => 
        context.BRANCH.Select(b => new BRANCH 
        { 
            ID = b.ID, 
            branch_name = b.branch_name, 
            branch_city = b.branch_city,
            branch_address = b.branch_address,
            branch_district = b.branch_district,
            branch_contact_number = b.branch_contact_number,
            branch_capacity = b.branch_capacity
        });

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
